// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";

//GAP START
@import "compass/utilities/general/clearfix";

//test code for multi column views
//  I pulled* view grid scss from http://komelin.com/en/5tips/own-responsive-grid-drupal-7-views-using-scss-and-css3-media-queries */
@media all and (max-width: 479px) {
  .view-grid.view-display-id-page {
    .view-content {
      .views-row {
        width:100%;
        float:left;
      }
    }
  }
}
@media all and (min-width: 480px) and (max-width: 959px) {
  .view-grid.view-display-id-page {
    .view-content {
      .views-row {
        width:49%;
        float:left;
        &:nth-child(2n - 1) {
          margin-right:2%;
        }
      }
    }
  }
}
@media all and (min-width: 960px) {
  .view-grid.view-display-id-page {
    .view-content {
      .views-row {
        float:left;
        width:32%;
        &:nth-child(3n - 1) {
          margin-right:2%;
          margin-left:2%;
        }
        &:nth-child(3n + 1) {
          clear:left;
        }
      }
    }
  }
}

/* Resets and fixes for drupal weirdness */

//overrides regular panels css to get rid of default bottom margin between rows
.panels-flexible-row{padding:0px;}

//gets rid of site name
.l-branding h1, .l-branding h2 {
    text-indent: -9999em;
}
//set this part of panels layout up as container div
.panels-flexible-landing1{
    max-width:1200px;
    margin:0 auto;
    //@include background-grid;
}


/* Grid and breakpoints */

//singularity grid
$grids: 12;
$gutters: 1/3;

//breakpoints
$phone: 300px;
$tablet: 700px;



body{
    @include background-grid;
}
.panels-flexible-row-landing1-1.top{
    height:auto;
    background-image: url('../images/Woman-v03.png');
    @include breakpoint($phone){
        background-position:00px 0px;
        background-attachment:fixed;
    }
    @include breakpoint($tablet){
        background-size:cover;
        background-position: 0% 0%;
        background-attachment:scroll;
    }
} 
#headerdiv{
    width:100% !important;
    height:160px;
    background-color:rgba(255,0,0,.5);
}
.welcome-fh{
    @include breakpoint($phone){
        @include grid-span (12, 1);
        padding:25px;
        height:400px; 
    }
    @include breakpoint($tablet){
        @include grid-span (6, 1);
        padding:25px;
        height:400px;
    }
}
.pane-webform-client-block-14{
    input{max-width:300px;}
    @include breakpoint($phone){
        @include grid-span (12, 1);
        height:400px;
    }
    @include breakpoint($tablet){
        @include grid-span (6, 7);
        height:400px;
    }
}

